In [27]:
import numpy as np 
import pandas as pd 

from matplotlib.ticker import FuncFormatter

# loop over results to take taxes into account
def vermogensbelasting_2016(capital):
    return max(0, 0.012 * (capital-24437))

def vermogensbelasting_2017(capital):
    taxable = capital - 25000
    if taxable < 0:
        return 0
    
    schijf_1 = min(75000, taxable)
    schijf_2 = max(min(975000, taxable)-75000, 0)
    schijf_3 = max(taxable - 975000, 0)
    
    return (0.02871 * schijf_1 + 0.04600 * schijf_2 + 0.0539 * schijf_3) * 0.30

def vermogensbelasting_2018(capital):
    taxable = capital - 30000
    if taxable < 0:
        return 0
    
    schijf_1 = min(70800, taxable)
    schijf_2 = max(min(978000, taxable)-70800, 0)
    schijf_3 = max(taxable - 978000, 0)
    
    return (0.02017 * schijf_1 + 0.04326 * schijf_2 + 0.0538 * schijf_3) * 0.30

df = pd.DataFrame(data={
    ('belasting (2016)', 'abs'): 0, 
    ('belasting (2016)', 'effectief'): 0, 
    ('belasting (2017)', 'abs'): 0,
    ('belasting (2017)', 'effectief'): 0, 
    ('belasting (2018)', 'abs'): 0,
    ('belasting (2018)', 'effectief'): 0
}, index=np.linspace(0, 1000000, 21))
df.index.name = 'vermogen'

for idx in df.index:
    if idx == 0:
        continue
        
    v = int(vermogensbelasting_2016(idx))
    df.loc[idx, ('belasting (2016)', 'abs')] = v
    df.loc[idx, ('belasting (2016)', 'effectief')] = round(v/idx*100, 2)
    
    v = int(vermogensbelasting_2017(idx))
    df.loc[idx, ('belasting (2017)', 'abs')] = v
    df.loc[idx, ('belasting (2017)', 'effectief')] = round(v/idx*100, 2)
    
    v = int(vermogensbelasting_2018(idx))
    df.loc[idx, ('belasting (2018)', 'abs')] = v
    df.loc[idx, ('belasting (2018)', 'effectief')] = round(v/idx*100, 2)

In [14]:
ax = df.plot(grid=True, figsize=(16,5))
ax_formatter = FuncFormatter(lambda v, _: 'â‚¬{:.0f}'.format(v))
ax.yaxis.set_major_formatter(ax_formatter) 
ax.xaxis.set_major_formatter(ax_formatter)

In [28]:
df

          belasting (2016)           belasting (2017)            \
                       abs effectief              abs effectief
vermogen
0.0                      0      0.00                0      0.00
50000.0                306      0.61              215      0.43
100000.0               906      0.91              645      0.65
150000.0              1506      1.00             1335      0.89
200000.0              2106      1.05             2025      1.01
250000.0              2706      1.08             2715      1.09
300000.0              3306      1.10             3405      1.14
350000.0              3906      1.12             4095      1.17
400000.0              4506      1.13             4785      1.20
450000.0              5106      1.13             5475      1.22
500000.0              5706      1.14             6165      1.23
550000.0              6306      1.15             6855      1.25
600000.0              6906      1.15             7545      1.26
650000.0              7506      1.15             8235      1.27
700000.0              8106      1.16             8925      1.27
750000.0              8706      1.16             9615      1.28
800000.0              9306      1.16            10305      1.29
850000.0              9906      1.17            10995      1.29
900000.0             10506      1.17            11685      1.30
950000.0             11106      1.17            12375      1.30
1000000.0            11706      1.17            13065      1.31

          belasting (2018)
                       abs effectief
vermogen
0.0                      0      0.00
50000.0                121      0.24
100000.0               423      0.42
150000.0              1066      0.71
200000.0              1715      0.86
250000.0              2364      0.95
300000.0              3013      1.00
350000.0              3662      1.05
400000.0              4311      1.08
450000.0              4960      1.10
500000.0              5609      1.12
550000.0              6258      1.14
600000.0              6907      1.15
650000.0              7555      1.16
700000.0              8204      1.17
750000.0              8853      1.18
800000.0              9502      1.19
850000.0             10151      1.19
900000.0             10800      1.20
950000.0             11449      1.21
1000000.0            12098      1.21

In [11]:
df = pd.DataFrame(data={
    ('belasting (2016)', 'absoluut'): 0, 
    ('belasting (2016)', 'effectief'): 0, 
}, index=np.linspace(0, 1000000, 21))
df

          belasting (2016)
                  absoluut effectief
0.0                      0         0
50000.0                  0         0
100000.0                 0         0
150000.0                 0         0
200000.0                 0         0
250000.0                 0         0
300000.0                 0         0
350000.0                 0         0
400000.0                 0         0
450000.0                 0         0
500000.0                 0         0
550000.0                 0         0
600000.0                 0         0
650000.0                 0         0
700000.0                 0         0
750000.0                 0         0
800000.0                 0         0
850000.0                 0         0
900000.0                 0         0
950000.0                 0         0
1000000.0                0         0