In [1]:
import pandas as pd
import numpy as np
from matplotlib.ticker import FuncFormatter

In [2]:
sp500_raw = pd.read_csv('SP500.csv', index_col='Date', parse_dates=['Date'])
sp500_raw.tail(2)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-08-23,2860.290039,2868.780029,2854.030029,2856.979980,2856.979980,2713910000
2018-08-24,2862.350098,2876.159912,2862.350098,2874.689941,2874.689941,2596190000

In [3]:
sp500 = sp500_raw.resample('BM').apply(lambda x: x[-1])
sp500.head(2)

                 Open       High        Low      Close  Adj Close   Volume
Date
1950-01-31  17.049999  17.049999  17.049999  17.049999  17.049999  1690000
1950-02-28  17.219999  17.219999  17.219999  17.219999  17.219999  1310000

In [4]:
sp500['Pct Change'] = sp500['Adj Close'].pct_change()
sp500.head(3)

,Open,High,Low,Close,Adj Close,Volume,Pct Change
Date,,,,,,,
1950-01-31,17.049999,17.049999,17.049999,17.049999,17.049999,1690000,NaN
1950-02-28,17.219999,17.219999,17.219999,17.219999,17.219999,1310000,0.009971
1950-03-31,17.290001,17.290001,17.290001,17.290001,17.290001,1880000,0.004065

In [5]:
def vermogensbelasting_2018(capital, gains):
    taxable = capital - 30000
    if taxable < 0:
        return 0
    
    schijf_1 = min(70800, taxable)
    schijf_2 = max(min(978000, taxable)-70800, 0)
    schijf_3 = max(taxable - 978000, 0)
    
    return (0.02017 * schijf_1 + 0.04326 * schijf_2 + 0.0538 * schijf_3) * 0.30

vermogensbelasting_2018(100000, 0)

423.57

In [6]:
def vennootschapsbelasting(capital, gains):
    schijf_1 = min(200000, gains)
    schijf_2 = max(gains-200000, 0)
    return max(0, 0.20 * schijf_1 + 0.25 * schijf_2)

vennootschapsbelasting(0, 200000)

40000.0

In [7]:
def simulate(initial_capital, withdrawal_rate, duration_in_years=30, tax_fn=lambda a, b: 0):
    inflation = 0.02 # TODO: Use actual inflation numbers
    
    stocks_return = sp500['Pct Change'] .dropna()
    inflation_per_month = inflation / 12
    months = duration_in_years * 12
    run_index = np.arange(0, months)
    initial_data = {'capital': 0.0, 'market_return': 0.0,'withdrawal': 0.0, 'taxes': 0.0}

    samples = stocks_return.size-months-1
    results = pd.DataFrame(index=np.arange(0, samples), data={'end_value': 0.0})

    for p in results.index:
        run = pd.DataFrame(index=run_index, data=initial_data)
        run.index.name = 'month'

        capital = initial_capital
        withdrawal = withdrawal_rate / 12 * initial_capital 

        # loop over months
        for m in run.index:
            market_return = stocks_return.iloc[m+p]
            gain = capital * market_return

            # pay taxes every 12th month
            taxes = 0
            if m % 12 == 0:
                taxes = tax_fn(capital, gain)

            run.at[m, 'capital'] = capital
            run.at[m, 'market_return'] = market_return
            run.at[m, 'withdrawal'] = withdrawal
            run.at[m, 'taxes'] = taxes     

             # withdraw inflation adjusted WR amount
            capital -= withdrawal

            # calculate inflation adjusted withdrawal amount
            withdrawal = withdrawal * ( 1 + inflation_per_month )

            # add capital gains
            capital += gain

            # pay taxes
            capital -= taxes

            # at the end of simulation, add to results dataframe
            if m == months-1:
                results.at[p, 'end_value'] = capital
    
    return results

res = simulate(1000000, 0.4, 30, vermogensbelasting_2018)
res.head(2)

      end_value
0 -2.500897e+07
1 -2.475235e+07

In [8]:
res.plot()

In [9]:
success_rate = results[results['end_value'] > 0].size / results.size
success_rate

NameError: name 'results' is not defined

In [ ]:
print("Withdrawal rate was {:.2f}%".format(wr*100))
print("Success rate: {:.2f}%".format(success_rate*100))
print("Median end value is: ${:.2f}".format(results['end_value'].median()))
print("Best end value is: ${:.2f}".format(results['end_value'].max()))
print("Worst end value is: ${:.2f}".format(results['end_value'].min()))

In [ ]:
print("Withdrawal rate was {:.2f}%".format(wr*100))
print("Success rate: {:.2f}%".format(success_rate*100))
print("Median end value is: ${:.2f}".format(results['end_value'].median()))
print("Best end value is: ${:.2f}".format(results['end_value'].max()))
print("Worst end value is: ${:.2f}".format(results['end_value'].min()))